fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
passlib
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
google-genai
google-generativeai
requests
python-dotenv

apscheduler
fpdf2
httpx
numpy
