fastapi
uvicorn
sqlalchemy
alembic
psycopg[binary]
psycopg2-binary
pydantic
pydantic-settings
passlib
bcrypt==4.0.1
python-jose[cryptography]
python-multipart

playwright
paddleocr
paddlepaddle

opencv-python-headless

google-generativeai
apscheduler
httpx
ultralytics
fpdf
